body {
    background-color: rgb(185, 240, 163);
}


table {
    border: rgb(2, 27, 97) 5px solid;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
    td, th {
        border: rgba(131, 131, 130, 0.541) 3px solid;
        text-align: center;
      }